/*audi_company_480.css*/

@media screen and (max-width: 480px) {

#companyBox{position:relative; 
            width:100%; 
            height: 26.25rem;  /*420*/}


/*text*/

.company_text {position:absolute; 
               top:6rem; left:50%;  
               margin-left:-140px; 
               width:280px; height:400px;}


.company_text h2 {font-size:2rem;} 



/*bg*/
.company_bg {
              width:100%; height:100%; 
              background-image:url("../../../../img/main/company/company_bg_tab.png");
              background-repeat:no-repeat;
              background-size:cover;
              background-position:center bottom;}


} 