/*a4_driveBox_1366.css*/

@media screen and (min-width: 769px) and (max-width: 1367px) { 



#a4_driveBox {
              width:100%; 
              height:40.26354319180088vw;/*550*/
              min-height:21.875rem; /*350*/
}



/*구간나누기*/

.a4_drive_wrap {width:100%;
                height:100%;}

.a4_gallery{position:relative; float:left; width:50%; height:100%;} 
.a4_drive{position:relative; float:right; width:50%; height:100%;}               


/*text*/


.a4_drive_wrap  h2 {width:auto;
                    height: auto;
                    color:#eee;
                    font-weight:bold;
                    font-size: 1.5rem;
                    text-align:center;
                    padding-bottom:3rem;}

.drive_text {position:absolute;
             left:50%;
             margin-left:-12%;
             top:28%; 
             width:auto;
             height:auto;}

.text_01 {margin-left:-75px;}
.text_02 {margin-left:-91.5px;}




/*btn*/
.driveBtn{display:block;
          margin:auto;
          width:130px; height:45px; 
          border:1px solid #fff;
          color:#eee;
          background-color:rgba(255,255,255,0.2);
          transition: all 500ms linear;
           font-size:0.8rem;}

.driveBtn:focus,                           
.driveBtn:hover{font-weight: bold;
                color:#fff;
                border:0;
                background-color:rgba(0,0,0,0.8);
                transition: all 500ms linear;}
          



/*bg*/

.a4_drive_wrap div {transition: all 500ms ease;
                    background-repeat:no-repeat;
                    background-size: 110%;
                    background-position:center center;}

.a4_gallery_bg {width:100%; height:100%;
                background-image:url("../../../../img/a4/a4_drive/a4_gallery_bg_pc.png");}

.a4_drive_bg {width:100%; height:100%;
              background-image:url("../../../../img/a4/a4_drive/a4_drive_bg_pc.png");}                

.a4_drive_wrap div:hover {background-size:120%;
                         transition:all 500ms ease;}

}