
/*audi_tech_480.css*/

@media screen and (max-width: 480px) {

   #techBox {position:relative; width:100%; 
              height:187.5vw; /*900*/
              min-height:43.75rem;/*700*/
              background-color:#000;}


/*text*/

.tech_text{ position:absolute; 
            top:5rem; left:50%;
            margin-left:-140px;
            width:280px; height:500px;}
 
/*bg*/
.tech_bg {
          background-image:url("../../../../img/main/tech/tech_bg_mob.png");
          background-position:center bottom;}



}


