/*a6_galleryBox_480.css*/


@media screen and (max-width: 480px) { 



#a6_galleryBox {height:141.6666666666667vw; /*680/480*/
                min-height:31.25rem; /*500*/}


/*text*/
.a6_gallery_text {top:17%;}
 
.a6_gallery_text>h2 {font-size:1.3rem;}



/*bg*/
.a6_gallery_bg{background-image: url("../../../../img/a6/a6_gallery/a6_gallery_mob.png");}


} 