/*newsBox_768.css*/


@media screen and (min-width: 481px) and (max-width: 768px) { 

#newsBox{position:relative;
		 width:100%; 
		 height:193.75rem; /*3100*/
         background-color:#eee;}
  
#newsBox> h2 {font-size:2rem;
              color:#333;
              text-align:center;
              padding:8rem 0;}

/*==content==*/
/*카드 위치*/
.news_content_wrap{ margin:auto;
                    width:85%;
                    min-width:29rem; /*500*/ 
                    height:auto;}

#newsBox > div >ul {width:100%; height:auto;margin:auto;}

#newsBox > div >ul>li {
					   box-sizing: border-box;
                       padding:1rem;
                       margin-bottom:5%;
                       width:48%; 
                       height:auto;
                       background-color:#fff;}

#newsBox> div > ul> li:nth-child(2n-1){float:left;}
#newsBox> div > ul> li:nth-child(2n){float:right;}

      

/*카드 내용*/

.news_img{ width: 100%; 
           height:20vw;
           background-repeat:no-repeat;  
           background-position:center top;
           background-size:100%;}


.news_content dl {width:100%; 
                  height:auto; 
                  padding-bottom:1rem;}

.news_content dl>dt {color:#333;
                     font-size:1.2rem;
                     font-weight: bold;
                     line-height:1.8rem;
                     padding:1.7rem 0;}

.news_content dl>dd {font-size:0.9rem;
                    color:#333;
                    line-height: 1.4rem;
                    padding-bottom:1.5rem;}

/*btn*/
.newsBtn{width:auto;
         height:auto;
         color:#bb0a30;}

.newsmore_btn{width:7.5rem; 
              height:2.5rem;
			        position:absolute;
			        bottom:10rem;
			        left:50%;
			        margin-left:-60px;}


.newsmoreBtn {width:100%; height:100%;
               background-color:#333;
               color:#fff;
               transition:all 500ms linear;}


.newsmoreBtn:focus,
.newsmoreBtn:hover{background-color:rgba(255,255,255,0.5);
			       color:#333;
			       border:1px solid #999;
			   	   transition:all 500ms linear;}



 



/*modal*/
.news_modal_box {width:70%; 
                 min-width:27rem;
                 height:80%;
                 min-height:40rem;
                 position:fixed;
                 top:8vw;
                 left:15%;
                 z-index:500;
                 background-color:rgba(255,255,255,0.9);
                 box-sizing: border-box;
                 padding:1.5rem; 
                 padding-bottom:4.5rem; }


.modal_img {width:100%;
            height:27vw;
             margin-bottom:2rem; }

.news_modal_box > dl {width:100%; height: auto;
                      height:calc(100% - 27vw - 2rem); overflow-y:scroll;
                      }
.news_modal_box > dl > dt { width:auto; height: auto;
                            font-size:1.3rem;
                            font-weight: bold;
                            padding:2rem 0 2rem;}

.news_modal_box > dl > dd {width:auto; height:auto;
                           font-size:0.9rem;
                           padding-bottom:4rem;}




/*listbtn*/

.list_btn{position:absolute;
          bottom:3%;
          width:7.5rem; 
          height:2.5rem;}

.listBtn{width: 100%; height: 100%;
         background-color:#333;
         color:#fff;
         transition:all 500ms linear;}


.listBtn:focus,
.listBtn:hover{background-color:rgba(255,255,255,0.9);
               color:#333;
               border:1px solid #999;
               transition:all 500ms linear;}



/*modal_bg*/
.news_modal_bg {width:100%; height:100%;
               background-color:rgba(0,0,0,0.8);
               position:fixed; top:0; left:0; z-index:300;}


}